body{
    --color-primary: #254BE1;
    --color-primary-dark: #102372;
    --border-radius: 4px;

    height: 45.5em;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    background: linear-gradient(#254BE1, #254BE1, #102372);
}

.box_change,
.button{
    font-family: 'Quicksand', sans-serif;
}

.box_change{
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
    height: 550px;
    width: 600px;
    margin-top: 5%;
    margin-left: 30%;
}

h2{
    margin-left: 55px;
}

.text{
    margin-left: 25px;
}

.personal_data{
    padding: 5% 21%;
}

.form_nome,
.form_email,
.form_fill,
.form_fill2{
    width: 300px;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: hsl(0, 0%, 93%);
    font-size: 1.15rem;
}

.form_email,
.form_nome,
.form_fill,
.form_fill2,
.form_prov{
    margin-top: 5%;
    margin-left: 2.5%;
}

.form_prov{
    box-sizing: border-box;
    border-radius: var(--border-radius);
    font-size: 1.25rem;
    width: 300px;
    margin-top: 5%;
}

.button{
    width: 150px;
    height: 50px;
    margin-top: 4%;
    background: linear-gradient(to right, #7C23E1, #23C8E1);
    color: #ffffff;
    border: none;
    border-radius: 4px;
}

.button:hover{
    text-decoration: none;
    color: #000000;
}

.button_change{
    margin-left: 10%;
    float: left;
}

.button_back{
    margin-left: 15px;
}

.button_delete{
    margin-right: 10%;
    float: right;
}

@media only screen and (max-width: 600px) {
    body{
        height: 83.8vh;
    }

    .box_change{
        margin-top: 8.5em;
        margin-left: 2.5em;
        width: 32rem;
        height: 48rem;
    }

    h2{
        margin-left: 1.2em;
    }

    .text,
    .form_nome,
    .form_fill,
    .form_fill2
    .form_prov,
    .button_change,
    .button_back,
    .button_delete{
        font-size: 14px;
    }

    .form_fill,
    .form_nome{
        margin-left: -4em;
        width: 20.3em;
    }

    .form_fill2{
        margin-left: -5em;
        width: 25em;
    }

    .form_prov{
        margin-left: -4.6em;
        width: 23em;
    }

    .personal_data{
        padding: 5% 18%;
    }

    .button{
        font-size: 12px;
        width: 6.5em;
    }

    .button_change{
        margin-left: 3em;
    }

    .button_back{
        margin-left: 0.7em;
    }
}