body{
    --color-primary: #254BE1;
    --color-btn: #627DEA;
    --color-secondary: #6D3686;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: var(--color-primary);
    background-size: cover;
}

.form_box,
.form_nome,
.form_tel,
.form_email,
.form_type,
.calendar,
.form_prov,
.form_pass,
.form_conf_pass,
.form_regis,
.form_privacy,
.check_privacy{
    font-family: 'Quicksand', sans-serif;
}

.form_box{
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
    width: 34rem;
    height: 30em;
    max-width: 100%;
    max-height: 100%;
    margin-top: 3%;
    margin-left: 1%;
    align-items: center;
    float: left;
    overflow-y: auto;
}

.form_error{
    background: #A94442;
    color: #ffff;
    opacity: .8;
    width: 87%;
    border-radius: 5px;
    margin: 20px auto;
    margin-left: 30px;
    margin-top: -10px;
}

.form_title{
    text-align: center;
    font-size: 45px;
    padding: 0.25rem;
}

.form_subtitle{
    text-align: center;
    margin-top: -30px;
}

.button_box{
    width: 250px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 2px black;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: 1000px;
}

.toggle_btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left:0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #23C8E1,#7C23E1);
    border-radius: 30px;
    transition: .5s;
}

.form_nome{
    display: block;
    width: 230px;
    padding: 0.25rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: hsl(0, 0%, 93%);
    margin-left: 30px;
    font-size: 1.15rem;
    float: left;
}

.form_tel{
    display: block;
    width: 210px;
    padding: 0.25rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    font-size: 1.15rem;
    float: left;
    margin-left: 42px;
}

.form_email{
    display: block;
    width: 305px;
    padding: 0.25rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 1.15rem;
    float: left;
}

.form_prov{
    margin-top: -33px;
    margin-left: 346px;
    padding: 0.20rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    font-size: 1.15rem;
    width: auto;
    float: left;
}

.form_pass{
    display: block;
    width: 210px;
    padding: 0.25rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: hsl(0, 0%, 93%);
    margin-top: 25px;
    margin-left: 30px;
    font-size: 1.15rem;
    float: left;
}

.form_conf_pass{
    display: block;
    width: 210px;
    padding: 0.25rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: hsl(0, 0%, 93%);
    margin-top: 25px;
    margin-left: 60px;
    font-size: 1.15rem;
    float: left;
}

.form_privacy{
    margin-top: 20px;
    margin-left: 2px;
    font-size: 1rem;
    float: left;
}

.check_privacy{
    margin-top: 25px;
    margin-left: 30px;
    font-size: 1rem;
    float: left;
}

.form_regis{
    width: 50%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: linear-gradient(to right, #7C23E1, #23C8E1);
    margin-top: 40px;
    margin-left: 16%;
}

.form_regis:hover{
    color: #000000;
    text-decoration: none;
}

.form_logo{
    width: 650px;
    height: 650px;
    margin-left: -30px;
}

.form_link_group{
    margin-top: 25px;
    margin-left: 20px;
}

.form_button:hover{
    background: var(--color-primary-dark);
}

.form_team{
    font-size: 15px;
    font-weight: bold;
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
}

.form_login{
    font-size: 15px;
    font-weight: bold;
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
}

.form_link:hover{
    text-decoration: underline;
}

.form_link_group{
    line-height: 30px;
}

@media only screen and (max-width: 600px) {
    .form_logo{
        display: none;
    }

    .form_box{
        height: 40rem;
        width: 18rem;
    }

    .form_box,
    .form_nome,
    .form_cognome,
    .form_email,
    .form_button,
    .form_pass,
    .form_conf_pass,
    .form_error,
    .form_prov,
    .form_tel,
    .form_select{
        font-size: 14px;
    }

    .form_nome,
    .form_cognome,
    .form_email,
    .form_pass,
    .form_prov,
    .form_tel,
    .form_conf_pass,
    .form_select{
        margin-left: 2.4em;
    }

    .form_nome,
    .form_tel,
    .form_email{
        width: 15em;
    }

    .form_tel,
    .form_email,
    .form_conf_pass{
        margin-top: 0.5em;
    }

    .form_title{
        font-size: 30px;
    }

    .form_subtitle{
        padding: 1em;
        font-size: 14px;
    }

    .form_prov{
        margin-top: 1.5em;
    }

    .form_regis{
        margin-top: 1.5em;
        margin-left: 6em;
        padding: 0;
        font-size: 14px;
        height: 2em;
        width: 8em;
    }

    .form_link{
        padding: 0;
        font-size: 10px;
    }

    .check_privacy{
        margin-top: 2em;
        margin-left: 2.5em;
        font-size: 1rem;
        float: left;
    }

    .form_privacy{
        margin-top: -1.8em;
        margin-left: 5em;
        font-size: 0.75rem;
        float: left;
    }
}